@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700;800&display=swap');


@font-face {
    font-family: 'ProstoOne';
    src: local('ProstoOne'), url('../fonts/ProstoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces'), url('../fonts/TT-Interfaces.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Interfaces_500';
    src: local('TT Interfaces_500'), url('../fonts/TTInterfaces-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Interfaces_600';
    src: local('TT Interfaces_600'), url('../fonts/TTInterfaces-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Interfaces_700';
    src: local('TT Interfaces_700'), url('../fonts/TTInterfaces-Bold.ttf') format('truetype');
}