@import './tags.css';
@import './font.css';
@import './style.css';
@import './swiper.css';
@import './default.css';
@import './tailwind.css';




.router-link-active {
    /* color: #D73239; */
    font-family: 'TT Interfaces';
    /* font-family: 'TT Interfaces_600'; */
    /* -webkit-text-stroke: white 0.1px; */
    /* text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8); */
}



select::-ms-expand {
    display: none;
}


input[type="number"],
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 5px;
    /* background-color: red; */
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: #F08620;
}

.scroll_none::-webkit-scrollbar {
    width: 0;
    height: 0;
}